
@* Partial View that is displayed when there are not gallery *@
<div id="no-gallery">
    <p><h4>You dont' have any gallery yet.</h4></p>
    <p><h5>To create a new gallery, click the <span>ADD</span> button.</h5></p>  
</div>
